@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;800&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/TheMandalorian-w11P2.ttf);
}


body{
    font-family: 'Sen', sans-serif;
    font-size: 200%;
    margin: 0%;
    --primary-color: #467676;
    --secondar-color: #fac4a8;
}
nav{
    background-color:var(--primary-color) ;
    text-align: center;
    margin-bottom: 3rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.heading{
    margin-top: 0px;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    font-size: 2.3rem;
    
}
.mandalorian-name{
    font-family: myFirstFont;
    margin: 1rem;
    font-size: 4rem;
    color: #0c0e0f;
    
}
h1 .mandalorian-name{
    margin-top: 1rem;
    font-size: 5rem;
    font-stretch: ultra-expanded;
}
div.container{
    padding: 1rem;
    text-align: center;
    margin: auto;
}
img .nav-img {
    margin: auto;
}
div {
    display: inherit;
}
#txt-area{
    text-align: center;
    display: block;
    padding: 1rem;
    margin-bottom: 2rem;
    height: 10vh;
    width: 100%;
    max-width: 400px;
    border-width: 1px;
}
textarea#txt-area{
    margin: auto;
}

button {
    background-color:var(--secondar-color);
    border-radius: 0.5rem;
    color: black;
    border-width: 1px;
    font-size: large;
}
.btn {
    margin-left: 0rem;
}

.outputbox{
    height: 10vh;
    max-width: 400px;
    width: 100%;
    border: 1px black solid;
    margin: 1rem;
    height: 10vh;
}
section.outputbox{
    margin: auto;
}

footer {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    height: fit-content;
    bottom: 0;
    text-align: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-bottom: 1rem;
}
footer h5{
    margin: 1rem;
    padding: 1rem;
}
p.about{
    max-width: 400px;
    margin: auto;
    padding-bottom: 1rem;
}

footer .connect{
    margin-bottom: 0%;
    font-size: x-large;
}
.about{
    font-size: small;
}

.non-bullet{
    list-style: none;
    display: inline;
    margin: 1rem;
    color: black;
    padding-bottom: 2rem;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
}

.contact-info{
    margin: auto;
    width: 300px;
    border-radius: 1rem;
}

.credit{
    font-size: x-small;
    padding-top: 1rem;
}